.loading {
    bottom: 0;
    height: 2em;
    margin: auto;
    overflow: visible;
    right: 0;
    width: 2em;
    z-index: 999
}

.loading,
.loading:before {
    left: 0;
    position: fixed;
    top: 0
}

.loading:before {
    background-color: rgba(0, 0, 0, .3);
    content: "";
    display: block;
    height: 100%;
    width: 100%
}

.loading:not(:required) {
    background-color: transparent;
    border: 0;
    color: transparent;
    font: 0/0 a;
    text-shadow: none
}

.loading:not(:required):after {
    -webkit-animation: spinner 1.5s linear infinite;
    -moz-animation: spinner 1.5s linear infinite;
    -ms-animation: spinner 1.5s linear infinite;
    -o-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
    border-radius: .5em;
    -webkit-box-shadow: 1.5em 0 0 0 rgba(0, 0, 0, .75), 1.1em 1.1em 0 0 rgba(0, 0, 0, .75), 0 1.5em 0 0 rgba(0, 0, 0, .75), -1.1em 1.1em 0 0 rgba(0, 0, 0, .75), -1.5em 0 0 0 rgba(0, 0, 0, .5), -1.1em -1.1em 0 0 rgba(0, 0, 0, .5), 0 -1.5em 0 0 rgba(0, 0, 0, .75), 1.1em -1.1em 0 0 rgba(0, 0, 0, .75);
    box-shadow: 1.5em 0 0 0 rgba(0, 0, 0, .75), 1.1em 1.1em 0 0 rgba(0, 0, 0, .75), 0 1.5em 0 0 rgba(0, 0, 0, .75), -1.1em 1.1em 0 0 rgba(0, 0, 0, .75), -1.5em 0 0 0 rgba(0, 0, 0, .75), -1.1em -1.1em 0 0 rgba(0, 0, 0, .75), 0 -1.5em 0 0 rgba(0, 0, 0, .75), 1.1em -1.1em 0 0 rgba(0, 0, 0, .75);
    content: "";
    display: block;
    font-size: 10px;
    height: 1em;
    margin-top: -.5em;
    width: 1em
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        -moz-transform: rotate(1turn);
        -ms-transform: rotate(1turn);
        -o-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        -moz-transform: rotate(1turn);
        -ms-transform: rotate(1turn);
        -o-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        -moz-transform: rotate(1turn);
        -ms-transform: rotate(1turn);
        -o-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        -moz-transform: rotate(1turn);
        -ms-transform: rotate(1turn);
        -o-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}